<div class="home">
  <header>
    <h2> Water Watch</h2>
  </header>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="caixaTampa">
          <div class="sobretampa2"></div>
          <div class="sobretampa1"></div>
          <div class="sobretampa"></div>
          <div class="tampa"></div>
          <div class="caixa-dagua">
            <div class="agua water-animation" [ngStyle]="{ 'height.%': alturaAgua / 2.5  }"></div>
            <p>{{ alturaAgua}}L<span class="estilo-i"></span></p>
          </div>
        </div>
      </div>
      <div class="flip-card-back">
        <p class="title">BACK</p>
        <p>Leave Me</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="termometro">

          <div class="logo">
            <div class="bar">
              <div class="bar-after" [ngStyle]="{ 'height.%': alturaTemperatura * 2}"></div>
            </div>
            <div class="circle"></div>
          </div>
          <h1>{{alturaTemperatura}}°C <span class="estilo-r"></span></h1>
        </div>
      </div>
      <div class="flip-card-back">
        <p class="title">BACK</p>
        <p>Leave Me</p>
      </div>
    </div>
  </div>
</div>